---
layout: vanilla
permalink: /data/
description: "Data for the Chromatin Cell Atlas of the Developing Fly Embryo."
modified: 2018-01-16
tags: [fly, data, atlas, analysis]
---
<!DOCTYPE html>
<html lang= "{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <!-- See here for how to use the TOC control:
  https://afeld.github.io/bootstrap-toc/ -->
  <body  data-spy= "scroll" data-target= "#toc">
    {% include header.html %}


    <div class= "container">
      <div class= "row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class= "col-sm-4 sidenav">
          <nav id= "toc" data-spy= "affix" data-toggle= "toc"></nav>
        </div>
        <!-- main content area -->
        <div class= "col-sm-8">

    <h2>Published Data</h2>
    <p>On this page, we make some of the raw data files available for conducting your own analyses.</p>

    <h2>Tutorial Data</h2>
    <p>Here are links to all of the data used in the tutorial (code is presented for downloading and processing these files through the course of the tutorial too).

            <table class = "table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Last modified</th>
                  <th>Size</th>
                  <th width = "50%">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/irlba_1.0.3.tar.gz" download>irlba_1.0.3.tar.gz</a></th>
                  <th>18-Nov-2017 17:20</th>
                  <th>177K</th>
                  <th>Source code for <code>irlba</code> version 1.0.3, the version used for latent semantic indexing in Cusanovich, Reddington, Garfield <i>et al.</i></th>
                </tr>
                <tr>
                  <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/monocle_2.5.3.tar.gz" download>monocle_2.3.5.tar.gz</a></th>
                  <th>18-Nov-2017 17:20</th>
                  <th>16M</th>
                  <th>Source code for <code>Monocle</code> version 2.3.5, the version used for pseudotemporal ordering in Cusanovich, Reddington, Garfield <i>et al.</i></th>
                </tr>
                <tr>
                  <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/DDRTree_0.1.4.tar.gz" download>DDRTree_0.1.4.tar.gz</a></th>
                  <th>16-Jan-2018 11:23</th>
                  <th>12K</th>
                  <th>Source code for <code>DDRTree</code> version 0.1.4, the version used for pseudotemporal ordering in Cusanovich, Reddington, Garfield <i>et al.</i></th>
                </tr>
                <tr>
                  <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/monocle_patch.R" download>monocle_patch.R</a></th>
                  <th>18-Nov-2017 17:20</th>
                  <th>6.6K</th>
                  <th>A small update to Monocle that causes the <code>differentialGeneTest</code> to return beta values.</th>
                </tr>
                <tr>
                  <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/6to8.2kbmatrix.sparse.binary.rds" download>6to8.2kbmatrix.sparse.binary.rds</a></th>
                  <th>18-Nov-2017 17:20</th>
                  <th>113M</th>
                  <th>A binary matrix recording whether insertions were observed in 2kb windows throughout the genome in all 6-8 hour cells. This file is provided as a sparse matrix in <code>.rds</code> format so that it can be easily loaded into <code>R</code>.</th>
                </tr>
                <tr>
                  <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/6to8.summitmatrix.sparse.binary.rds" download>6to8.summitmatrix.sparse.binary.rds</a></th>
                  <th>18-Nov-2017 17:19</th>
                  <th>69M</th>
                  <th>A binary matrix recording whether insertions were observed in a master list of potential regulatory elements in all 6-8 hour cells. This file is provided as a sparse matrix in <code>.rds</code> format so that it can be easily loaded into <code>R</code>.</th>
                </tr>
                <tr>
                  <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/6to8.xycalls.txt" download>6to8.xycalls.txt</a></th>
                  <th>18-Nov-2017 17:19</th>
                  <th>300K</th>
                  <th>A file assigning a sex to each cell from the 6-8 hour time point on the basis of reads mapping to the sex chromosomes. A <code>1</code> indicates male and a <code>2</code> indicates female.</th>
                </tr>
                <tr>
                  <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/6to8.read.report.txt" download>6to8.read.report.txt</a></th>
                  <th>18-Nov-2017 17:19</th>
                  <th>429K</th>
                  <th>A file reporting the total number of unique reads recovered from each cell. This was used in the logistic regression analysis to control for cells having varying complexity.</th>
                </tr>
                <tr>
                  <th><a href = "http://atlas.gs.washington.edu/download/fly-atac/2to4_files.tar.gz" download>2to4_files.tar.gz</a></th>
                  <th>18-Nov-2017 17:19</th>
                  <th>44M</th>
                  <th>A tarball of all the files required for pseudotemporal ordering of cells from the 2-4 hour time point.</th>
                </tr>
                </tbody>
              </table>



      </div>
    </div>
</div> <!-- /container -->

{% include footer.html %}

</body>

</html>
